ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

li {
    display: inline-block;
    margin: 0 15px;  
    cursor: pointer;
}

.navigation {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 20px;
}

.navigation:hover{
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 70px;
    padding: 0 20px; 
}

.search-bar{
    position: relative;
    background-color: white;
    align-items: center;
    display: flex;
    width: 250px;
    height: 30px;
    gap: 10px;
    justify-content: space-between;
    border-radius: 50px;
}

.search-bar input{
    outline: none;
    border: none;
    margin: 4px;
    padding-left: 20px;
    height: 20px;
    width: 150px;
    font-weight: bold;
    font-size: 14px;
}

.search-bar svg{
    color: black;
    margin: 4px;
    padding-right: 5px;
}

#header-svg{
    height: 30px;
    width: 30px;
}
